.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 99;
  background-color: var(--c-white);
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar .container .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .navbar .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .navbar .container .box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

.navbar-menu {
  height: 100%;
  display: flex;
}

/* Start Style Menu Navbar */
.navbar-menu .navbar-menu-list,
.navbar-logo,
.navbar-icons {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-menu .navbar-menu-list {
  justify-content: flex-start;
}

.navbar-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 600;
  color: var(--c-text);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .navbar-menu-item {
    padding: 0 10px;
    font-size: 12px;
  }
}

.navbar-menu-item:after,
.navbar-menu-item.active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--c-primary);
  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.3s ease;
}

.navbar-menu-item:hover:after,
.navbar-menu-item.active:after {
  transform: scaleX(1);
}

.navbar-menu-item:hover,
.navbar-menu-item.active {
  color: var(--c-primary);
}

.navbar-menu-item a {
  color: inherit;
  text-decoration: none;
}

/* Start Style Navbar Logo */
.navbar-logo {
  flex: 1;
  justify-content: center;
}

/* Start Style Nabar Icons */
.navbar-icons {
  flex: 0.4;
  justify-content: flex-end;
  gap: 15px;
}

@media screen and (max-width: 768px) {
  .navbar-icons {
    flex: 1;
    justify-content: center;
  }
}

.currency-icon,
.cart-icon {
  cursor: pointer;
  position: relative;
}

.currency-icon i,
.cart-icon i {
  font-size: 20px;
  color: var(--c-text);
  transition: 0.3s ease;
}

@media screen and (max-width: 768px) {
  .currency-icon i,
  .cart-icon i {
    font-size: 16px;
  }
}

/* Drop Down Currency */
.dropdown-currency {
  position: absolute;
  top: 25px;
  left: -25px;
  width: 114px;
  height: auto;
  background-color: var(--c-white);
  box-shadow: var(--product-card-box-shadow);
  z-index: 1;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.3s ease;
}

.currency-icon.dpdcurrency-open .dropdown-currency {
  transform: scaleY(1);
}

.currency-icon.dpdcurrency-open i:last-of-type {
  transform: rotate(180deg);
}

.dropdown-currency-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 10px 0;
  font-size: 14px;
  width: 100%;
  font-weight: 600;
  color: var(--c-text);
  cursor: pointer;
  transition: all 0.3s ease;
}

.dropdown-currency-item:hover,
.dropdown-currency-item.active {
  background-color: var(--active-select);
}

/* Cart Count */
.cart-icon {
  position: relative;
}

.cart-icon i {
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .cart-icon i {
    font-size: 20px;
  }
}

.cart-icon .cart-count {
  position: absolute;
  top: -2px;
  right: -6px;
  width: 16px;
  height: 16px;
  background-color: var(--c-text);
  border-radius: 50%;
  color: var(--c-white);
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  line-height: 16px;
  transform: scale(0);
  transform-origin: center;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .cart-icon .cart-count {
    font-size: 10px;
    line-height: 13px;
    width: 14px;
    height: 14px;
  }
}

.cart-icon .cart-count.cart-count-show {
  transform: scale(1);
}

/* Mini Cart Style */
.mini-cart {
  position: absolute;
  top: 60px;
  width: 350px;
  height: 500px;
  padding: 0px 10px;
  background-color: var(--c-white);
  box-shadow: var(--product-card-box-shadow);
  z-index: 100;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.3s ease;
  overflow: auto;
}

.mini-cart.dpdcart-open {
  transform: scaleY(1);
}

.overlay {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--c-text);
  opacity: 0.5;
  z-index: 99;
  transition: all 0.3s ease;
}
